<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for t in things %} {% set id = loop.index %}
        <tr>
          <td>{{ id }}</td>
          <td><a href="/things/{{ id }}">{{ t.name }}</a></td>
          <td>{{ t.description }}</td>
          <td>{{ t.isOn ? "ON" : "OFF" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
